body {
    font-family: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;
}

.nav-link.active {
    color: #4F2E2C !important;
    background-color: transparent !important;
    text-decoration: underline;
}

a {
    color: #4F2E2C !important;
    font-weight: bold;
}

button {
    font-family: "Lucida Console", "Menlo", "Monaco", "Courier", monospace;
    color: #83716F !important;
}

.card-body {
    background-color: #FAE5D7 !important;
}

.text-muted {
    color: #83716F !important;
}

.shaomaiwelcome {
    width: 100%;
    height: auto;
}

p {
    color: #524140
}

.shaomaiinfo1 {
    width: 100%;
    height: auto;
}

.story1 {
    width: 100%;
    height: auto;
}

.story2 {
    width: 100%;
    height: auto;
}

.story3 {
    width: 100%;
    height: auto;
}

.social1 {
    width: 100%;
    height: auto;
}